@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom background */
body {
  @apply text-white;
  background: linear-gradient(-45deg, #1e3a8a, #9333ea, #db2777, #f59e0b);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
